<html class="no-js"> <!--<![endif]-->
    <head>
        <script src="libs/jquery.min.js"></script>
        
        <script src="libs/angular.min.js"></script>
        <script src="libs/bootstrap.min.js"></script>
        <script src="scripts/main.js"></script>
        <script src="scripts/angularSlider.js"></script>
        <script src="scripts/controllers/controllers.js"></script>
        <link   rel="stylesheet" href="styles/bootstrap.min.css">
        <link   rel="stylesheet" href="styles/main.css">
        <link   rel="stylesheet" href="styles/slider.css">        
        
        <link href="styles/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>
    </head>
    <body ng-app ="sliderdemo">
        <div class="header">
            <div class="profile">
               <img src="./images/Raul.png">
            </div>
        </div>

        <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">

                    <div class="intro-message">
                        
                        <div class="angular">
                          <img src="./images/angularjs.png">                          
                        </div>
                        <h1>angularSlider.js</h1>
                        <h3>Customizable angular slider</h3>
                        <hr class="intro-divider">
                        
                    </div>
                    <angular-slider ng-controller="MainCtrl1" width="750" height="500" images="{{images.length}}">
                    </angular-slider>        
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
        

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Step 1<br>Inclide angularSlider.js</br></h2>                   
                    <p class="lead">
                        Paste the following code into the <code>&lt;head&gt;</code> section of your site's HTML.
                            <div class="highlight"><pre><code class="html"><span class="nt">&lt;script</span> <span class="na">src=</span><span class="s">"scripts/angularSlider.js"</span> <span class="nt">&gt;</span></code></pre>
                            </div>
                    </p>
                </div>
                <div class="col-lg-2 col-lg-offset-2 col-sm-6">
                    <p style="width:100%; text-align: center;font-family: 'Dancing Script', cursive; font-size: 160px; color: rgb(211, 72, 72);">
                        1
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-2 col-sm-6">
                    <p style="width:100%; text-align: center;font-family: 'Dancing Script', cursive; font-size: 160px; color: rgb(211, 72, 72);">
                        2
                    </p>
                </div>
                <div class="col-lg-offset-2 col-lg-8 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Step 2<br> Set your app </br></h2>                   
                    <p class="lead">
                        Open angularSlider.js file and chage 'sliderdemo' to your app's name.                        
                            <div class="highlight"><pre><code class="html"><span class="nt">angular.module(</span> <span class="s">'sliderdemo'</span> <span class="nt">)</span> </code></pre></div>
                    </p>
                </div>
                
            </div>

        </div>
        <!-- /.container -->

    </div>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Step 3<br>HTML</br></h2>                   
                    <p class="lead">
                        To create a angularSlider use this html format.
                            <div class="highlight"><pre><code class="html"><span class="nt">&lt;angular-slider </span><span class="na">ng-controller=</span><span class="s">"myCtrl"</span><span class="na"> width=</span><span class="s">"500"</span><span class="na"> height=</span><span class="s">"300"</span><span class="na"> images=</span><span class="s">"{{images}}"</span><span class="nt">&gt;</span>
<span class="nt">&lt;/angular-slider&gt;</span></code></pre></div>
                    </p>
                </div>
                <div class="col-lg-2 col-lg-offset-2 col-sm-6">
                    
                        <div style="width:100%; text-align: center;font-family: 'Dancing Script', cursive; font-size: 160px; color: rgb(211, 72, 72);">
                            3
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-2 col-sm-6">
                    <p style="width:100%; text-align: center;font-family: 'Dancing Script', cursive; font-size: 160px; color: rgb(211, 72, 72);">
                        4
                    </p>                    
                </div>

                <div class="col-lg-offset-2 col-lg-8 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Step 4<br>The Controller</br></h2>                   
                    <p class="lead">
                        <div class="highlight"><pre><code class="html">
<span class="nt">angular.module(</span> <span class="s">'sliderdemo'</span> <span class="nt">)</span> 
    <span class="nt">.controller(</span> <span class="s">'myCtrl'</span> <span class="nt">, function($scope){</span> 
        <span class="nt">$scope.images = [</span>
            <span class="nt">{url: </span> <span class="s">'images/1.jpg'</span> <span class="nt"> <span class="nt">},</span>
            <span class="nt">{url: </span> <span class="s">'images/2.jpg'</span> <span class="nt"> <span class="nt">},</span>
            <span class="nt">{url: </span> <span class="s">'images/3.jpg'</span> <span class="nt"> <span class="nt">},</span>
            <span class="nt">{url: </span> <span class="s">'images/4.jpg'</span> <span class="nt"> <span class="nt">}</span>
        <span class="nt">];</span>
    <span class="nt">});</span>
</code></pre></div>
                    </p>
                </div>
                
            </div>

        </div>
        <!-- /.container -->
        <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Get it on GitHub or know more about the author:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">                        
                        <li>
                            <a href="https://github.com/RaulSanchezVazquez/angularSlider" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/raulsanvaz" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    </div>
</body>
</html>