
  <div class="viewer">
    <div class="scroll" state="loading">
      <span class="box" ng-repeat="image in images">
        <span class="helper"></span>
        <img  ng-src="{{image.url}}">
      </span>
    </div>
    <div class="carousel-control right arrow right-arrow" href="#" ng-click="nextImg()">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </div>
    <div class="carousel-control left arrow left-arrow" href="#" ng-click="prevImg()">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </div>

  </div>

  <div class="thumbs">
    <div class="scroll" state="loading">
      <span class="box" ng-class="{firstBox:$first}" ng-repeat="image in images" ng-click = "scrollTo($index)">
          <span class="helper"></span>
          <img  ng-src="{{image.url}}">
      </span>
    </div>
    <div class="carousel-control right arrow right-arrow" href="#" ng-click="nextThumb()">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </div>
    <div class="carousel-control left arrow left-arrow" href="#" ng-click="prevThumb()">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </div>
  </div>
