
/* SLIDE */

angular-slider{
    margin:auto;    
    background-color:#222;
    overflow:hidden;
}
angular-slider .viewer, angular-slider .thumbs{    
    margin:auto;
    position:relative;
    overflow:hidden;
    // needs latest Compass, add '@import "compass"' to your scss    
}
angular-slider .viewer{
    background-color:#666;
}
angular-slider .thumbs{
    background-color: #111;
}

.box{
    height:100%;
    float:left;
    white-space: nowrap;    
    text-align: center;
    background-color: #333;
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px); 
}
.active{
    background-color:#111 !important;
}
.box img{
    width:90%;
    margin:auto;
    vertical-align: middle; 
    /* left: 10px; */
    margin-left: 4px;
}

.helper {
    display: inline-block;
    height: 100%;
    margin-left:-4px;
    vertical-align: middle;
}


/*arrows*/
.arrow{
    font-size:26px;
    position:absolute;
    top:-30px;    
    color:black;
    opacity:0.5;
    outline: 0px !important;
    color:white;
}
.left-arrow{   
    left:0px;
}
.right-arrow{
    right:0px;
}

.arrow:hover{
    opacity:0.8;
    color:black;
}


.scroll{
    width:100%;
    transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
    
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
}
.firstBox{
    margin-left:-1px;
}
